entrypoint = "main.sql"

[interpreter]
command = [
  "smallbar",
  "-detect-ps1", "sqlite>",
  "-replace-ps1",
  "\u0001\u001b[33m\u0002\u0001\u001b[00m\u0002 ",
  "-skip-interp",
  "-replace-run",
  "-t", "sqlite3",
  "-r", "sqlite3 --init"
]